// flat ui colors
$turquoise: #1abc9c;
$turquoise-active: #33d1ac;
$green-sea: #16a085;

$emerald: #2ecc71;
$nephritis: #27ae60;

$peter-river: #3498db;
$belize-hole: #2980b9;

$amethyst: #9b59b6;
$wisteria: #8e44ad;

$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;

$sun-flower: #f1c40f;
$orange: #f39c12;

$carrot: #e67e22;
$pumpkin: #d35400;

$alizarin: #e74c3c;
$pomegranate: #c0392b;

$clouds: #ecf0f1;
$silver: #bdc3c7;

$concrete: #95a5a6;
$asbestos: #7f8c8d;

$twitter-color: #87DADE;
$facebook-color: #547FB7;

// Theme colors

$light-color: $silver;
$dark-color: $asbestos;

$theme-color-1: $dark-color;
$theme-color-2: $clouds;
$theme-color-3: $light-color;
$theme-color-4: $dark-color;
$theme-color-5: $clouds;
$theme-color-6: white;
$theme-color-7: $clouds;

// general success and error colors
$red: $pomegranate;
$green: $emerald;